[user]
	email = davemcpherson@wochstudios
	name = Dave McPherson
[alias]  
	 ci = commit  
	 co = checkout  
	 st = status  
	 br = branch  
	 lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)%Creset' --abbrev-commit  
	 stash-all = stash save --include-untracked  
	 undo = reset --soft HEAD^  
	 graph = log --graph --all ' --pretty=format:%Cred%h%Creset %ad | [%C(bold blue)%an%Creset] %Cgreen%d%Creset %s' --date=iso
